*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.svn/
*.swp
.nojekyll
.project
.settings/


#==========================
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

#=======================
target
.idea
*.iml
*.log
logs
*.iws
*.classpath
.DS_Store
*.patch
~$*

*.MF
tem
